In [1]:
from math import factorial
import pandas as pd
import numpy as np

In [2]:
"""
Al lanzar 1 moneda tenemos estos posibles resultados:

Cara(H)
Cruz(T)

m = {(T,T,T,T,T,T,T,T,T),(H,H,H,H,H,H,H,H,H,H,H),(H,H,H,H,H,T,T,T,T,T),(H,H,T,T,T,T,T,T,T,T),....}

Reglas de conteo:
Permutaciones
Combinaciones
-------------------------------------------------------------------------------------------------

n Cantidad de posibles resultados                -> Cara o Cruz -> n = 2
x Cantidad de veces que se repite el experimento -> Se lanza la moneda 10 veces -> x = 10

n**x
n^x
"""

print(2**10)
print(pow(2,10))

"""
1024 La cantidad de posibles resultados de lanzar 10 veces una moneda

"""

1024
1024

'\n1024 La cantidad de posibles resultados de lanzar 10 veces una moneda\n\n'

In [3]:
print(2**2)
"""
(H,H)
(H,T)
(T,H)
(T,T)
"""

4

'\n(H,H)\n(H,T)\n(T,H)\n(T,T)\n'

In [4]:
# 2 

"""
n = Cantidad de pasajeros
r = Cantidad que necesita la policia

nCr = n! / r! * (n-r)!

10C3 = 10! / 3! * (10-3)!
"""
control = factorial(10) / (factorial(3) * factorial(10-3))
print(control)

120.0

In [5]:
# 3

regiones = ['Norte','Noreste','Sur','Centro']

valores_si = [148,162,296,252]

valores_no = [52,54,74,48]

datos = {'Si':valores_si, 'No':valores_no}

df = pd.DataFrame(datos, index=regiones)

In [6]:
df

          Si  No
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

In [7]:
# a) Se puede decir que se utilizo la corriente frecuentista

In [8]:
df2 = df.copy()
df2

          Si  No
Norte    148  52
Noreste  162  54
Sur      296  74
Centro   252  48

In [9]:
(sum(df2.Si) + sum(df.No))   # El total de casos estudiados

1086

In [10]:
# b ASIGNACIÓN DE PROBABILIDADES
df2/(sum(df2.Si) + sum(df2.No))

               Si        No
Norte    0.136280  0.047882
Noreste  0.149171  0.049724
Sur      0.272560  0.068140
Centro   0.232044  0.044199

In [12]:
# C
# Total de casos que si llevaban cinturon / Total de casos estudiados

prob = round(sum(df.Si) / (sum(df2.Si) + sum(df2.No)),2)    # 858 / 1086
print(f'La probabilidad de que una persona lleve el cinturón en los Estados Unidos es de {prob*100} %')

La probabilidad de que una persona lleve el cinturón en los Estados Unidos es de 79.0 %

In [ ]:
# d
# Estará satisfecho porque los resultados del estudio arrojaron que la probabilidad es de 0.79, un punto más de lo esperado

In [13]:
# e

df2.Si / (sum(df2.Si) + sum(df2.No))

Norte      0.136280
Noreste    0.149171
Sur        0.272560
Centro     0.232044
Name: Si, dtype: float64

In [14]:
norte = round((148 / 1086) * 100,2)
noreste = round((162 / 1086) * 100,2)
sur = round((296 / 1086) * 100,2)
centro = round((252 / 1086) * 100,2)

print(f'La probabilidad de que usen el cinturon en el norte del pais es de: {norte}, en el noreste es de: {noreste}, en el sur del pais es de: {sur} y en el centro es de: {centro}')

La probabilidad de que usen el cinturon en el norte del pais es de: 13.63, en el noreste es de: 14.92, en el sur del pais es de: 27.26 y en el centro es de: 23.2

In [15]:
# 4

"""
TotalCartas = 52
rojas = 26              -> TotalCartas / 2
negras = 26             -> TotalCartas / 2

pica = negras / 2
trebol = negras / 2
diamante = rojas / 2
corazones = rojas / 2
"""

def ProbabilidadNaipes(categoria):
    TotalCartas = 52
    colores = 26            # totalCartas / 2
    simbolos = 13           # colores / 2

    if (categoria=='roja' or categoria=='negra'):
        return colores / TotalCartas
    elif (categoria in ['pica','trebol','diamante','corazones']):
        return simbolos / TotalCartas

In [17]:
ProbabilidadNaipes('negra')

0.5

In [19]:
ProbabilidadNaipes('trebol')

0.25

7 pica 7 trebol 7 diamantes 7 corazones = 4 -> 4 / 52 -> Probabilidad de obtener un 7


8 pica 8 trebol 8 diamantes 8 corazones = 4 -> 4 / 52 -> Probabilidad de obtener un 8


4/52 + 4/52 -> (4+4)/52 -> Probabilidad de obtener un 7 o de obtener un 8

In [21]:
print((4+4)/52 * 100)

15.384615384615385

In [22]:
def ProbabilidadNaipes2(numero=None, color=None):
    totalCartas = 52
    colores = 26

    if (numero == None and color in ['roja','negra']):
        return colores / totalCartas

    elif (numero != None and color in ['roja','negra']):
        return (colores/totalCartas) * (4/totalCartas)

    elif (numero != None and color == None):
        return 4/totalCartas

In [23]:
# 26 / 52  * 4 / 52 -> 26*4 / 52*52  ->  2 / 52 -> 0.038

In [24]:
ProbabilidadNaipes2(7,'roja')

0.038461538461538464

In [25]:
ProbabilidadNaipes2(7)

0.07692307692307693

In [26]:
ProbabilidadNaipes2(8,'negra')

0.038461538461538464

In [27]:
# 6  Corriente clasica

1 / 32

0.03125

In [ ]:
# Corriente frecuentista

arg = 3 / 22
br = 5 / 22
it = 4 / 22
ur = 2 / 22
es = 1 / 22
ing = 1 / 22
al = 4 / 22
fr = 2 / 22

In [ ]:
# https://bit.ly/mundialfutboll

In [29]:
#  7
experimentos = 50
e1 = 20 / 50 * 100
e2 = 13 / 50 * 100
e3 = 17 / 50 * 100


print(f'La probabilidad del resultado e1 es de: {e1}%, del resultado e2: {e2}% y la del resultado e3: {e3}%')

La probabilidad del resultado e1 es de: 40.0%, del resultado e2: 26.0% y la del resultado e3: 34.0%

In [34]:
"""
                                                        SUCESOS COMPATIBLES
A = Sea un numero par
B = Sea mayor a 2

P(A) = Cant Pares / Cant total de números           -> 3/6
P(B) = Cant num > 2 / Cant total de números         -> 4/6
P(AnB) = P(A) * P(B)

P(AuB) = P(A) + P(B) - P(AnB)
p(AuB) = P(A) + P(B) - (P(A) * P(B))
"""
p = 3/6 + 4/6 - (3/6 * 4/6)
print(f'La probabilidad de que el dado caiga en un número par o que el número sea > 2 es de {p}')
print(f'La probabilidad de que el dado caiga en un número que es par y al mismo tiempo es mayor que 2 {(3/6 * 4/6)}')

La probabilidad de que el dado caiga en un número par o que el número sea > 2 es de 0.8333333333333333
La probabilidad de que el dado caiga en un número que es par y al mismo tiempo es mayor que 2 0.3333333333333333

In [32]:
p4 = 1/6
p6 = 1/6
print(p4+p6)

0.3333333333333333

In [38]:
"""
                                                SUCESOS MUTUAMENTE EXCLUYENTES
A = Sea par
B = Sea impar

P(A) = Cant pares / Cant total números
P(B) = Cant impares / Cant total números

P(AnB) = P(A) * P(B)   = 0

P(AuB) = P(A) + P(B) - P(AnB)
P(AuB) = P(A) + P(B) - 0
P(AuB) = P(A) + P(B)                    Probabilidad de que sea par o impar el número del dado
"""
p = 3/6 + 3/6 - 0
print(f'La probabilidad de que el dado caiga en un número par o que el dado caiga en un número impar {p}')
print(f'La probabilidad de que el dado caiga en un número par y que el dado caiga en un número impar {0}')

La probabilidad de que el dado caiga en un número par o que el dado caiga en un número impar 1.0
La probabilidad de que el dado caiga en un número par y que el dado caiga en un número impar 0

In [35]:
(3/6 * 3/6)

0.25

In [40]:
"""
Si la probabilidad de que un cliente pague en efectivo (E) es 6/15, con tarjeta de crédito (TD) es 7/15 y con tarjeta de débito (TD) es 2/15. Hallar la probabilidad de que dos clientes sucesivos que pagan sus cuentas lo hagan:
a) el primero en efectivo y el segundo con tarjeta de crédito.
b) Los dos clientes en efectivo
"""
efect = 6 / 15
tc = 7 / 15
td = 2 / 15
"""
a)
A = Efectivo
B = Tarjeta de crédito
P(A) = 6 / 15
P(B) = 7 / 15

P(AnB) = P(A) * P(B)
P(AnB) = 6 / 15 * 7 / 15

"""
print((6/15)*(7/15))

"""
b) 
A = Efectivo
B = Efectivo

P(A) = P(B) = 6 / 15
P(AnB) = P(A) * P(B)
P(AnB) = 6 / 15 * 6 / 15

"""
print((6/15)*(6/15))

0.18666666666666668
0.16000000000000003

In [45]:
"""
Calcular la probabilidad de que una persona saque dos cartas rojas de una baraja sin reposición

A = La primera carta es roja
B = La segunda carta tambien es roja

P(A) = Cartas rojas / Cant cartas total
P(B) = Cartas rojas / Cant cartas total                         -> Esto es asi si A NO SUCEDIÓ

P(B|A) = Cartas rojas restantes / Cant cartas total restantes   -> Esto es asi si A SUCEDIÓ

P(AnB) = P(A) * P(B|A)

P(AnB) = (26 / 52)  * (25 / 51)
"""
pr = round((26 / 52) * (25 / 51),4)

print(f'La probabilidad de que una persona saque dos cartas y ambas sean del mismo color es de {pr} sin reposición')
print(f'La probabilidad de que una persona saque dos cartas y ambas sean del mismo color es de {(26/52) * (26/52)} con reposición')

La probabilidad de que una persona saque dos cartas y ambas sean del mismo color es de 0.2451 sin reposición
La probabilidad de que una persona saque dos cartas y ambas sean del mismo color es de 0.25 con reposición

In [ ]:
"""
P(A/B) = P(A)    -> Esto unicamente sucede en los eventos independientes

P(A/B) = (P(AnB)) / P(B)

P(AnB) = P(A) * P(B)

P(A/B) = (P(A) * P(B)) / P(B)

"""