# Ejemplo 1

In [41]:
import pandas as pd

In [42]:
data = pd.Series(['A', 'B', 'C', 'A', 'B'])
print(data)

0    A
1    B
2    C
3    A
4    B
dtype: object

In [43]:
mapping_dict = {'A': 1, 'B': 2, 'C': 3}

In [44]:
result = data.map(mapping_dict)
print(result)

0    1
1    2
2    3
3    1
4    2
dtype: int64

# Ejemplo 2

In [45]:
data2 = pd.Series([1, 2, 3, 4, 5])
print(data2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [46]:
def cuadrado(x):
    return x**2

In [47]:
result2 = data2.map(cuadrado)
print(result2)

0     1
1     4
2     9
3    16
4    25
dtype: int64

# Ejemplo 3

In [48]:
import numpy as np

In [49]:
data3 = pd.Series(['gato', 'perro', np.nan, 'conejo'])

In [50]:
data3.map({'gato': 'loro', 'perro': 'cachorro'})

0        loro
1    cachorro
2         NaN
3         NaN
dtype: object

In [51]:
data3.map('Yo soy un {}'.format)

0      Yo soy un gato
1     Yo soy un perro
2       Yo soy un nan
3    Yo soy un conejo
dtype: object